# Rename this file to .env.local
NEXT_PUBLIC_SUPABASE_URL=https://ksmwnhmzvhdzawynnjnz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzbXduaG16dmhkemF3eW5uam56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMTMzMjMsImV4cCI6MjA5Nzc4OTMyM30.nvHqxMud6v0yTRjrmW6TFaAj1xAWavU-e4fL2YtZgrw
